<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Sanity PHP Test Suite">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
        <log type="coverage-html" target="coverage"/>
    </logging>
</phpunit>
